<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Diet Generator</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Something</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Foods
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/foods/all">Browse foods</a>
                    <a class="dropdown-item" href="#">My foods</a>
                    <th:block th:unless="${session.username == null}">
                        <a class="dropdown-item" href="/foods/create">Create a food</a>
                    </th:block>
                </div>
            </li>
        </ul>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <th:block th:if="${session.username == null}">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/login">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/register">Register</a>
                    </li>
                </th:block>

                <th:block th:unless="${session.username == null}">
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" href="/users/profile">Profile</a>
                    </li>
                    <li class="nav-item mr-2">
                        <form th:action="@{/logout}" method="post">
                            <button class="nav-link text-white active h5" type="submit">Logout</button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</header>