.width-20 {
    width: 20%;
}

body:not('#index-body') {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

textarea {
    resize: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.table-wrap {
    height: 250px;
    overflow-y: auto;
}

.clickable {
    cursor: pointer;
}

.selected {
    background-color: #b9b9b6;
}

.progress {
    height: 25px;
}

.progress-bar small {
    font-size: 12px;
    font-weight: bold;
}