<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{common/head}"/>
<link rel="stylesheet" href="/css/page-loader.css">
<body>
<th:block th:include="~{common/header}"/>
<main>
    <table class="table table-hover text-white">
        <thead>
        <tr>
            <th scope="col">Food</th>
            <th scope="col">Food Group</th>
            <th scope="col">Calories</th>
            <th scope="col">Carbohydrates</th>
            <th scope="col">Fat</th>
            <th scope="col">Protein</th>
        </tr>
        </thead>
        <tbody id="foods-columns">
        </tbody>
    </table>
</main>
<th:block th:include="~{common/loader}" />
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
</script>
<script src="/js/foods-loader.js"></script>
</body>
</html>