<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{common/head}"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/page-loader.css">
<link rel="stylesheet" href="/css/table-sort-indicator.css">
<body>
<th:block th:include="~{common/header}"/>
<main>
    <div class="container">
        <table class="table table-hover text-white">
            <thead>
            <tr>
                <th>Food</th>
                <th>Food Group</th>
                <th class="sortable">Calories</th>
                <th class="sortable">Carbohydrates</th>
                <th class="sortable">Fat</th>
                <th class="sortable">Protein</th>
            </tr>
            </thead>
            <tbody id="foods-columns">
            </tbody>
        </table>
    </div>
</main>
<th:block th:include="~{common/loader}"/>
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
</script>
<script src="js/foods/foods-loader.js"></script>
<script src="js/foods/foods-table-indicator.js"></script>
</body>
</html>